__pycache__/*
*/__pycache__/*
*/*/__pycache__/*

grammar_learning/read_output
grammar_learning/inference


grammar_learning/inference

grammar_learning/training/results
grammar_learning/training/artifacts
grammar_learning/training/*.err
grammar_learning/training/*.out
grammar_learning/training/todo_and_log/*.err
grammar_learning/training/todo_and_log/*.out

grammar_learning/data_backup*