.DS_Store

__pycache__/*
*/__pycache__/*
*/*/__pycache__/*

grammar_learning/data
grammar_learning/_data_backup*
grammar_learning/read_output/backup_results
grammar_learning/read_output/results
grammar_learning/read_output/temp*
grammar_learning/read_output/recollection_vs_contextual_memorization
grammar_learning/training/results
grammar_learning/training/artifacts
grammar_learning/read_output/figures*
grammar_learning/read_output/backup_figures
grammar_learning/read_output/memorization_figures
grammar_learning/_inference/results*

grammar_learning/training/*.err
grammar_learning/training/*.out
grammar_learning/training/todo_and_log/*.err
grammar_learning/training/todo_and_log/*.out


